SQL

1. Вывод авторов, имеющихся в базе.
2. Поиск всех авторов с инициалами "С. А.". Автор в базе определяется так: И. О. Фамилия
3. Вывод списка книг, выпущенных в издательстве "Мир".
4. Вывод количества книг, принадлежащих каждой из категорий. Результат отсортирован по возрастанию.
5. Вывод количества книг, выпущенных в каждом издательстве. В итоговом списке  только те издательства, которые выпустили 3 и более книг. Результат отсортирован по убыванию.
6. Вывод списка книг, автором которых являлся <<С. А. Айвазян>>.
7. В каких издательствах и сколько выпускались книги за авторством <<С. А. Айвазян>>. Результат отсортирован по убыванию.

**Структура БД**

<figure>
<center>
<img src='https://drive.google.com/uc?export=view&id=160L6VoP2kz8mJfpFuLWF6_SdoVcvkT-J' width="400" height="400" />
<figcaption>Структура базы </figcaption></center>
</figure>

Подключение к БД с помощью модуля sqlite3.

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
con = sqlite3.connect('/content/book_simple.db.db')
cur = con.cursor()

# 1
Вывод авторов, имеющихся в базе.

In [ ]:
avtory = """
SELECT name AS Авторы
FROM author;
"""
pd.read_sql(avtory, con)

               Авторы
0      М. А. Айзерман
1     Ф. Т. Алескеров
2      Г. В. Савицкая
3          В. Кельтон
4              А. Лоу
...               ...
1005   В. Н. Касьянов
1006        Ф. Коуэлл
1007    В. В. Ступкин
1008   М. А. Тынкевич
1009       Д. Б. Фукс

[1010 rows x 1 columns]

## 2

Поиск всех авторов с инициалами "С. А.". Автор в базе определяется так: И. О. Фамилия

In [ ]:
avtory_ca = """
SELECT name AS Авторы
FROM author
WHERE name LIKE 'С._А._%';
"""
pd.read_sql(avtory_ca, con)

              Авторы
0      С. А. Айвазян
1   С. А. Орловского
2       С. А. Смоляк
3     С. А. Айвазян
4     С. А. Калмыков
5   С. А. Дубровский
6      С. А. Аристов
7      С. А. Иванков
8     С. А. Айвазяна
9    С. А. Горбатков
10   С. А. Орловский
11     С. А. Ашманов
12       С. А. Орлов

## 3
Вывод списка книг, выпущенных в издательстве "Мир".

In [ ]:
reqest_mir = """
SELECT book.title,
       publisher.name
FROM book, publisher
WHERE publisher.name IS 'Мир';

"""
pd.read_sql(reqest_mir, con)

                                                 title name
0                       Выбор вариантов: основы теории  Мир
1                                 Экономический анализ  Мир
2              Имитационное моделирование. Классика CS  Мир
3                              Математическая экономия  Мир
4    Управление производством при нечеткой исходной...  Мир
..                                                 ...  ...
823        Теория графов: алгоритмы обработки деревьев  Мир
824                  Микроэкономика. Принципы и анализ  Мир
825  Проектирование интегрированных систем библиоте...  Мир
826                    Экономико-математические методы  Мир
827             Когомологий бесконечномерных алгебр Ли  Мир

[828 rows x 2 columns]

## 4

Вывод количества книг, принадлежащих каждой из категорий. Результат отсортирован по возрастанию.

In [ ]:
reqest_cat = """
SELECT COUNT(book.id) AS 'Количество книг', category.title AS 'Категория'
FROM book, category
WHERE (category.id = book.category_id)
GROUP BY category.title
ORDER BY COUNT(book.id) ASC;
"""
pd.read_sql(reqest_cat, con)

   Количество книг                                        Категория
0              198                              Экономические науки
1              201                        Информационные технологии
2              214  Теория вероятностей и математическая статистика
3              215                          Математическая экономия

## 5
Вывод количества книг, выпущенных в каждом издательстве. В итоговом списке  только те издательства, которые выпустили 3 и более книг. Результат отсортирован по убыванию.

In [ ]:
reqest_izdat = """
SELECT COUNT(book.id) AS 'Количество книг', publisher.name AS 'Издательство'
FROM book, publisher
WHERE (publisher.id = book.publisher_id)
GROUP BY publisher.name
HAVING COUNT(book.id) >= 3
ORDER BY COUNT(book.id) DESC;
"""
pd.read_sql(reqest_izdat, con)

    Количество книг            Издательство
0               152                   Наука
1                84                     Мир
2                38    Финансы и статистика
3                28               ФИЗМАТЛИТ
4                26           Радио и связь
5                26              Статистика
6                23                   Питер
7                20                 Вильямс
8                19               Высш. шк.
9                15          Машиностроение
10               15              ЮНИТИ-ДАНА
11               12                 ИНФРА-М
12               12              Сов. радио
13                9                Прогресс
14                9               Экономика
15                8           БХВ-Петербург
16                7                    Дело
17                7                  Знание
18                7                     ИИЛ
19                6                     МГУ
20                6                    МЭСИ
21                5          Едиториал УРСС
22                5             Просвещение
23                5     Экономическая школа
24                5         Энергоатомиздат
25                5              Юнити-Дана
26                4                     ВГУ
27                4                     ЛКИ
28                4                     НГУ
29                4             Наук. думка
30                4               Физматлит
31                4                 Экзамен
32                4                   Эксмо
33                4                 Энергия
34                3                     АНХ
35                3                Академия
36                3                  ГУ ВШЭ
37                3           Дело и Сервис
38                3                ЛИБРОКОМ
39                3                      ЛУ
40                3             Символ-Плюс
41                3  Советская Энциклопедия
42                3               Физматгиз
43                3                 Штиинца

## 6

Вывод списка книг, автором которых являлся <<С. А. Айвазян>>.

In [ ]:
reqest_author = """
SELECT book.title, author.name
FROM book, authorbook, author
WHERE (authorbook.book_id = book.id) AND (authorbook.author_id = author.id) AND (author.name == 'С. А. Айвазян');
"""
pd.read_sql(reqest_author, con)

                                               title           name
0                              Социальные индикаторы  С. А. Айвазян
1  Прикладная статистика. Основы эконометрики: Уч...  С. А. Айвазян
2  Прикладная статистика: Классификации и снижени...  С. А. Айвазян
3   Прикладная статистика: Исследование зависимостей  С. А. Айвазян
4  Прикладная статистика: Основы моделирования и ...  С. А. Айвазян
5                 Статистика. Вероятность. Экономика  С. А. Айвазян
6               Классификация многомерных наблюдений  С. А. Айвазян
7      Прикладная статистика в задачах и упражнениях  С. А. Айвазян

## 7

В каких издательствах и сколько выпускались книги за авторством <<С. А. Айвазян>>. Результат отсортирован по убыванию.

In [ ]:
reqest_last = """
SELECT author.name,
       COUNT(book.title),
       publisher.name
FROM book
INNER JOIN authorbook
ON book.id = authorbook.book_id
INNER JOIN author
ON author.id = authorbook.author_id
INNER JOIN publisher
ON publisher.id = book.publisher_id
WHERE author.name = 'С. А. Айвазян'
GROUP BY publisher.name
ORDER BY COUNT(book.id) DESC;
"""
pd.read_sql(reqest_last, con)

            name  COUNT(book.title)                  name
0  С. А. Айвазян                  3  Финансы и статистика
1  С. А. Айвазян                  2            ЮНИТИ-ДАНА
2  С. А. Айвазян                  1            Юнити-Дана
3  С. А. Айвазян                  1            Статистика
4  С. А. Айвазян                  1                 Наука